* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: white;
  color: #000;
  min-height: 100vh;
  padding: 20px;
}

.container {
  width: 100%;
  min-height: 100vh; /* ocupa toda a altura da tela */
  background-image: url("../../img/plano_de_fundo.png");
  background-color: red; /* fallback caso a imagem não carregue */
  background-size: cover;      /* cobre toda a área */
}


#header-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: clamp(40px, 5vw, 65px);
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

#phase-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: rgba(153, 30, 28, 0.75);
  border-radius: 10px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.phase {
  background: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  flex-wrap: wrap;
  cursor: pointer;
  /* se quiser clicar */
}

.phase-text {
  font-size: clamp(18px, 2vw, 22px);
  font-weight: 500;
  text-align: center;
  flex: 1;
}

.phase-icon {
  width: 40px;
  height: 50px;
}




@media (max-width: 768px) {
  #phase-container {
    padding: 20px 10px;
  }
}